.card {
  float: left;
  border: solid 1px black;
  width: auto;
  border-radius: 5px;
  height: auto;
  margin-right: 20px;
}

.covered {
  background: url('../img/card-back.png');
}

.covered img {
  visibility: hidden;
  opacity: 0;
}

.hand {
  overflow: auto;
}
